.wrapper {
    padding-top: 0 auto;
    margin: 0 auto;
    width: 600px;
    margin-top: 100px;
    
    background-color: #27509e;
    color:white;
}
h1 {
    
    text-align: center;
}


input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    
    
}
button {
    
    background-color: #27509e;
    color: white;
    border-radius: 5px;
    
}
.forma {
    display: flex;
    justify-content: center;
}

.input {
    
    border: 1px solid;
    margin: 0 auto;
}
.text1 {
    text-align: center;
}

.cat{
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

body{
    background-image: url(cat.jpg);
}