.wrapper {
    padding-top: 0 auto;
    margin: 0 auto;
    width: 600px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #E27D60;
    color: black;
}
.wrapper-2 {
    padding-top: 0 auto;
    margin: 0 auto;
    width: 600px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #E27D60;
    color:black;
}

h1 {
    
    text-align: center;
}


input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    
    
}
button {
    
    background-color: #E8A87C;
    color: black;
    border-radius: 15px solid #E8A87C;
    
}
.forma {
    display: flex;
    justify-content: center;
}

.input {
    
    border: 1px solid;
    margin: 0 auto;
}
.text1 {
    text-align: center;
}

.cat{
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

body{
    background-image: url(IMG_8254.JPG);
    background-position-y: 800px;
   
}


.output{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.div1 {
    display: table-cell;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
.btn1{ 
    height: 30px;
    width: 105px;
    border: 2px solid black;
}

.out {
    padding-left: 30px;
}